table{
    border: solid 1px black;
    text-align: center;
    border: outset 5px rgb(255, 171, 140);
    color: rgb(126, 1, 1);
}

td{
    border: solid 1px black;
    width: 200px;
    height: 30px;
}

.uno{
    width: 300px;
}

.dos{
    width: 100px;
}

#verde{
    background-color: green;
}

#naranja{
    background-color: rgb(255, 171, 140);
}

.amarillo{
    background-color: rgb(255, 255, 138);
}