table{
    border: solid 1px black;
    text-align: center;
    border: outset 5px rgb(255, 171, 140);
    color: rgb(126, 1, 1);
    background-image: url(../img/un-modelo-de-las-pistas-caninas-de-diversos-tamaños-rastros-volumétricos-d-de-un-perro-del-color-anaranjado-ejemplo-del-vector-93104237.jpg);
}

td{
    border: solid 1px black;
    width: 200px;
    height: 30px;
}

.uno{
    width: 300px;
}

.dos{
    width: 100px;
}

#verde{
    background-color: green;
}

#naranja{
    background-color: rgb(255, 171, 140);
}

.amarillo{
    background-color: rgb(255, 255, 138);
}